@media screen and (max-width:600px){
    body{
        background-color: #ffffff;
        width: 100vw;
        height: auto;
    }
    .box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 100vw;
    }
    .button{
        margin-top: 40px;
        margin-bottom: 10px;
        text-align: center;
        width: 70px;
        margin-left:40% ;
    }
    .logo{
        display: contents;
        width: 100%;
        background-color:#19c971;   
    }
    .psi{
        text-align: center;
        /* background-color: aqua; */
        margin: 0;
        width: 100vw;
    }
    ul.menu{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 50px;
        margin-bottom: -20px;
        text-align: center;
   
    }
      
    .menu li a:hover{
        cursor: pointer;
        color:#ffffff;
        background: #19c971;
    }
    .menu li{
        font-size: 10px;
        background-color:#19c971;
        border-radius: 20px;
        height: auto;
        margin: 6px;
    }

    .menu{
        width: 100vw;
        justify-content: center;
        text-align: center;
    }
  
    .conteudo{
        display: flex;
        flex-direction: column;
    }
    .conteudo img{
        width: 50%;
        margin-left: 20%;
        margin-top: 10px;
    }
    .conteudo h2{
        margin-left:10px ;
    }
    .conteudo h1{
        margin-left:10px ;
        font-size: 25px;
    }
    .descricao{
        width: 95vw;
        height: 500px;
        padding: 10px;
    }

   
    .box-dois{
        width: 100vw;
        height: auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        margin: 0;
        align-items: center;
       
    }
    .academico{
        display: flex;
        flex-direction: column;
        height: 960px;
        justify-content: center;
        width: 95vw;
        text-align: center;
        margin-top: 80px;
    }
    .academico p{
        display: flex;
        height: auto;
 
    }
    .academico h2{
        display: flex;
        height: auto;
    }

    .academico h3{
        display: flex;
        height: auto;
    
    }
    .formacao{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 95vw;
        height: auto;
        margin: 0;

    }
     .formacao h2{
        text-align: justify;
        justify-content: center;
      }
      
    .titulo-formacao{
        display: flex;
        top: 130px;
    }
    .servicos{
    
        height: auto;        
    }
    .lista-servicos{
        display: flex;
        flex-direction: column;
       
    }
    .lista-servicos ul{
        width: 100vw;
     
    }
    .lista-servicos ul li{
        width: 100vw;
        padding: 0 10px 0 10px;
   
    }

    .eventos{
        width: 100vw;
        height: auto;
    }

    .lista-eventos{
    
        width: 100vw;
        height: auto;
    }
    .lista-eventos li{
     
        width: 95vw;
        height: auto;
        padding: 0 10px 0 10px;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .capa-livro h2{
        width: 95vw;
       }

    .capa-livro p{
        width: 95vw;
        padding: 0 10px 0 10px;
    }
   
    .capa-livro{
        text-align: center;
        display: flex;
        flex-direction: column;
        width: 100vw;
        display: flex;
        flex-direction: column;
        height: auto;
        background-color: #ffffff;
              
     }
    
    .descricao-livro{
        text-align: center;
        align-items: center;
        margin: 0;
    }
    .descricao-livro p{
        text-align: justify;
        font-size: 16px;
        height: auto;
    }
    
    .comprar-livro{
        display: flex;
        width: 95vw;
        justify-content: center;
        text-align: center;
        margin-top: 0;
        width: 95vw;
        margin: 0;        
    }
    .comprar-livro:hover{
        transform: scale(1);
    }

    .comprar-livro a{
        align-items: center;
        text-align: center;
        background:#19c971;
        color: white;
        text-decoration: none;
        font-size: 20px;
    }

    .comprar-livro img{
        display: flex;
        width: auto;
    }
    
    footer{
    
        width: 100vw;
    }
    footer p{
    
        text-align: center;
        height: auto;
        width: 100vw;
    }

    
}